img{
    border-radius: 5em;
}
.klgal{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1% solid blue;
    margin: 2.5em auto;
}
.klgala{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.un,.deux,.trois,.quatre,.cinq,.six{
    height: 25em;
    width: auto;
    margin: 0.5em;
    padding: auto;
}
section{
    text-align: center;
    background-color: rgb(224, 245, 248);
    border-radius: 5em;
    padding: 2em;
    margin: 2em;
    width: auto;
}
table{
    border-collapse: collapse;
    width: 100%;
    height: auto;
    margin: 1em;
    padding: 0.5em;
}
td,tr{
    border: 0.3em solid rgb(1, 2, 34);
    padding: 1em;
}
th{
    margin: 1.5em ;
    font-weight: lighter;
    color: rgba(4, 4, 139, 0.5);
}
thead,tfoot{
    color: blue;
    font-weight: 900;
}
caption{
    font-weight: 900;
    padding: 1em;
    border: 0.3em ;
    color: rgba(4, 4, 202, 0.603);
}
tbody{
    color: rgb(0, 0, 0);
    font-style:italic ;
}
.proposmoi{
    display: flex;
    flex-direction: row;
}
.moip{
    text-align: left;
    color: rgb(54, 42, 165);
    font-size: 2em;
    width: 50%;
    z-index: 1;
}
.moiimg{
    margin: 1em;
    width: auto;
    height: 20em;
    text-align: center;
}

